 <div style="border-radius: 15px; box-shadow: 2px 2px 4px; border: 1px solid; background:#bdc3c7; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<h7 style="color:black; margin-bottom:20px"> –õ—é–¥–º–∏–ª–∞, –ø—Ä–∏–≤–µ—Ç!

–ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –∑–∞–º–µ—á–∞–Ω–∏—è –¥–∞–ª–µ–µ –ø–æ —Ç–µ–∫—Å—Ç—É –ø–æ–º–µ—á–µ–Ω—ã —Ä–∞–∑–ª–∏—á–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏:

---
<div class="alert alert-block alert-danger">
‚ÅâÔ∏è : –ö—Ä–∏—Ç–∏—á–µ—Å–∫–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ, –∫–æ—Ç–æ—Ä—ã–µ —Å–ª–µ–¥—É–µ—Ç –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

<div class="alert alert-block alert-warning">
‚úèÔ∏è : –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è\—Å–æ–≤–µ—Ç –Ω–∞ –±—É–¥—É—â–µ–µ.
</div>

<div class="alert alert-block alert-success">
‚úîÔ∏è : –ö–æ–≥–¥–∞ –≤—Å—ë —Å–¥–µ–ª–∞–Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ.
</div>

---

–•–æ—Ä–æ—à–µ–π –ø—Ä–∞–∫—Ç–∏–∫–æ–π —è–≤–ª—è–µ—Ç—Å—è –æ—Å—Ç–∞–≤–ª—è—Ç—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø–æ—Å–ª–µ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–π –∑–∞–º–µ—á–∞–Ω–∏–π –∏–ª–∏ –¥–ª—è –≤–æ–ø—Ä–æ—Å–æ–≤, —Ä–∞–∑—ä—è—Å–Ω–µ–Ω–∏–π. –î–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã –º–Ω–µ –±—ã–ª–æ –ª–µ–≥—á–µ –∏—Ö –Ω–∞–π—Ç–∏, —Ç–æ –≤—ã–¥–µ–ª—è–π, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, —Å –ø–æ–º–æ—â—å—é —Ü–≤–µ—Ç–∞, –Ω–∞–ø—Ä–∏–º–µ—Ä –≤–æ—Ç —Ç–∞–∫:

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " ><b> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ : </b>

–í–æ–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –æ—Å—Ç–∞–Ω–µ—Ç—Å—è –Ω–µ–∑–∞–º–µ—á–µ–Ω–Ω—ã–º

</div>

---

**–í —Ä–∞–º–∫–∞—Ö —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ —É –≤–∞—Å –µ—Å—Ç—å –ª–∏–º–∏—Ç –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏—Ç–µ—Ä–∞—Ü–∏–π –ø—Ä–æ–≤–µ—Ä–æ–∫. –Ø –±—É–¥—É –¥–ª—è –∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω–æ—Å—Ç–∏ –∏—Ö –æ—Ç–º–µ—á–∞—Ç—å –≤ –∏—Ç–æ–≥–æ–≤–æ–º —Ä–µ–≤—å—é:**

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

**`[1/6]`**

–ò—Ç–æ–≥ —Ä–µ–≤—å—é - ...

</div>

p.s.: –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∑–∞–º–µ—á–∞–Ω–∏—è, –µ—Å–ª–∏ –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç —á—Ç–æ-—Ç–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –≤ –ø—Ä–æ–µ–∫—Ç–µ.</h7>

---

<div id="1" class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚ö†Ô∏è –ò–¢–û–ì–ò –†–ï–í–¨–Æ ‚ö†Ô∏è : </b>

**`[1/6]`**

<s>–ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –∑–∞–ø—Ä–æ—Å–æ–≤ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –ø—Ä–∞–≤–∏–ª—å–Ω—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã. –û–¥–Ω–∞–∫–æ –µ—Å—Ç—å –æ–¥–Ω–æ –∑–∞–¥–∞–Ω–∏–µ, –∫–æ—Ç–æ—Ä–æ–µ —Ç—Ä–µ–±—É–µ—Ç –¥–æ—Ä–∞–±–æ—Ç–∫–∏:

 - [–û—à–∏–±–∫–∞ ‚Ññ1](#div_id1)

–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –æ–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ –∏ –≤–Ω–µ—Å–∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è.

</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> üöÄ –ò–¢–û–ì–ò –†–ï–í–¨–Æ üöÄ : </b>

–í—Å–µ –∑–∞–º–µ—á–∞–Ω–∏—è —É—á—Ç–µ–Ω—ã. –≠—Ç–∞ —Ä–∞–±–æ—Ç–∞ –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É–µ—Ç —Ç–≤–æ—ë —É–º–µ–Ω–∏–µ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã SQL –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø–æ–¥–æ–±–Ω—ã—Ö –∑–∞–¥–∞—á.

–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å —É—Å–ø–µ—à–Ω—ã–º –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —ç—Ç–∞–ø–∞. –û—Å–æ–±–µ–Ω–Ω–æ —Ü–µ–Ω–Ω–æ, —á—Ç–æ –≤—Å–µ –ø—Ä–æ–µ–∫—Ç—ã –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤ —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—ã–µ —Å—Ä–æ–∫–∏ üëè

---

![](https://media.giphy.com/media/9hLq3XV0tykOINfyXc/giphy.gif)

---

–ü–æ—Å–ª–µ –æ–∫–æ–Ω—á–∞–Ω–∏—è –¥–µ–¥–ª–∞–π–Ω–æ–≤ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—é –≤ –∫–∞–Ω–∞–ª–µ –ü–∞—á–∫–∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–∞—Ç–µ—Ä–∏–∞–ª—ã –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ —Ä–∞–∑–≤–∏—Ç–∏—è –≤ —ç—Ç–æ–π –æ–±–ª–∞—Å—Ç–∏.

–£—Å–ø–µ—Ö–æ–≤ —Ç–µ–±–µ –≤ –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –Ω–∞—á–∏–Ω–∞–Ω–∏—è—Ö!

</div>

---

# –ü—Ä–æ–µ–∫—Ç "–ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö SQL"

**–û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞:**
–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. 

**–ù–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞** ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:** 
–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏ —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–≥–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω—ã—Ö:**

–¢–∞–±–ª–∏—Ü–∞ **books** (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö):
 - `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
 - `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
 - `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
 - `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
 - `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
 - `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–¢–∞–±–ª–∏—Ü–∞ **authors** (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö):
 - `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
 - `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü–∞ **publishers** (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö):
 - `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
 - `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.

–¢–∞–±–ª–∏—Ü–∞ **ratings** (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥):
 - `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
 - `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
  - `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
 - `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–¢–∞–±–ª–∏—Ü–∞ **reviews** (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏):
 - `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
 - `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
 - `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
 - `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫. –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è. –§—É–Ω–∫—Ü–∏—è –∑–∞–ø—Ä–æ—Å–∞ SQL

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd
import sqlalchemy as sa

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {
'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db' # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
}
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = sa.create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º Pandas
def get_sql_data(query:str, engine:sa.engine.base.Engine=engine) -> pd.DataFrame:
    with engine.connect() as con:
        return pd.read_sql(sql=sa.text(query), con = con)

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

### –¢–∞–±–ª–∏—Ü–∞ books (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö)

In [4]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM books
LIMIT 5
'''
get_sql_data(query)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [5]:
# –ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥
query = 'SELECT COUNT(*) FROM books';
get_sql_data(query)

   count
0   1000

### –¢–∞–±–ª–∏—Ü–∞ authors (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö)

In [6]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM authors
LIMIT 5
'''
get_sql_data(query)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [7]:
# –ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = 'SELECT COUNT(*) FROM authors';
get_sql_data(query)

   count
0    636

### –¢–∞–±–ª–∏—Ü–∞ publishers (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö)

In [8]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM publishers
LIMIT 5
'''
get_sql_data(query)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [9]:
# –ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = 'SELECT COUNT(*) FROM publishers';
get_sql_data(query)

   count
0    340

### –¢–∞–±–ª–∏—Ü–∞ ratings (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥)

In [10]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM ratings
LIMIT 5
'''
get_sql_data(query)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [11]:
# –ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = 'SELECT COUNT(*) FROM ratings';
get_sql_data(query)

   count
0   6456

### –¢–∞–±–ª–∏—Ü–∞ reviews (—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏)

In [12]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã
query = '''
SELECT *
FROM reviews
LIMIT 5
'''
get_sql_data(query)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [13]:
# –ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
query = 'SELECT COUNT(*) FROM reviews';
get_sql_data(query)

   count
0   2793

### –í—ã–≤–æ–¥—ã

–í –ø—Ä–æ—Ü–µ—Å—Å–µ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–∞ —Å –¥–∞–Ω–Ω—ã–º–∏, –º—ã –≤—ã—è—Å–Ω–∏–ª–∏, —á—Ç–æ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∞—Ö–æ–¥—è—Ç—Å—è —Å–≤–µ–¥–µ–Ω–∏—è –æ 1000 –∫–Ω–∏–≥. 

–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ 636 –∞–≤—Ç–æ—Ä–æ–≤ –∏ 340 –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤.

–ö—Ä–æ–º–µ —Ç–æ–≥–æ, –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ, –ø–æ –æ—Ç–∑—ã–≤–∞–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–∞ –∫–Ω–∏–≥–∏. –í—Å–µ–≥–æ –º—ã —Ä–∞—Å–ø–æ–ª–∞–≥–∞–µ–º 2793 –æ—Ç–∑—ã–≤–∞–º–∏.
–ö—Ä–æ–º–µ —ç—Ç–æ–≥–æ –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ 6456 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö.

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ : </b>

–î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω—ã.

–¢–µ–ø–µ—Ä—å –≤—Å—ë –≥–æ—Ç–æ–≤–æ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏–π.

</div>

## –ó–∞–¥–∞–Ω–∏—è –ø—Ä–æ–µ–∫—Ç–∞

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [14]:
query = '''
SELECT 
    COUNT(*) AS cnt
FROM 
    books
WHERE
    publication_date > '2000-01-01'
'''
get_sql_data(query)

   cnt
0  819

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ : </b>

–ü–æ–¥—Ö–æ–¥ –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π –∏ –æ—Ç–≤–µ—Ç –≤–µ—Ä–Ω—ã–π

</div>

**–í—ã–≤–æ–¥.**
–í—Å–µ–≥–æ, –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥.

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [15]:
query = '''
SELECT
    books.title AS book_name,
    subquery_reviews.reviews_qty AS reviews_qty,
    AVG(ratings.rating) AS avg_rating
FROM 
    books
    LEFT JOIN (
        SELECT
            book_id,
            COUNT(username) AS reviews_qty
        FROM
            reviews
        GROUP BY
            book_id
        ) AS subquery_reviews ON subquery_reviews.book_id = books.book_id
    LEFT JOIN ratings ON ratings.book_id = books.book_id
GROUP BY
    books.title,
    subquery_reviews.reviews_qty
ORDER BY
    avg_rating DESC
'''
get_sql_data(query)

,book_name,reviews_qty,avg_rating
0,Homage to Catalonia,2.0,5.00
1,March,2.0,5.00
2,In the Hand of the Goddess (Song of the Liones...,2.0,5.00
3,Welcome to Temptation (Dempseys #1),2.0,5.00
4,Stone of Farewell (Memory Sorrow and Thorn #2),1.0,5.00
...,...,...,...
995,The World Is Flat: A Brief History of the Twen...,3.0,2.25
996,Junky,2.0,2.00
997,His Excellency: George Washington,2.0,2.00
998,Drowning Ruth,3.0,2.00
999,Harvesting the Heart,2.0,1.50

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ : </b>

–≠—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å —Å—á–∏—Ç–∞–µ—Ç—Å—è –æ–¥–Ω–∏–º –∏–∑ —Å–∞–º—ã—Ö —Å–ª–æ–∂–Ω—ã—Ö –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ, –Ω–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ–ª—É—á–µ–Ω –ø—Ä–∞–≤–∏–ª—å–Ω–æ

</div>

**–í—ã–≤–æ–¥:**
–ü–æ—Å–º–æ—Ç—Ä–µ–ª–∏ —Ä–µ–π—Ç–∏–Ω–≥–∏ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏, –æ–±–∑–æ—Ä–æ–≤ –Ω–µ–º–Ω–æ–≥–æ.

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã

In [16]:
query = ''' WITH 
            search_over50 AS (SELECT book_id, publisher_id FROM books WHERE num_pages > 50)
            SELECT pb.publisher, 
                   COUNT(*) AS cnt
            FROM search_over50 AS s50 
            INNER JOIN  publishers AS pb ON s50.publisher_id=pb.publisher_id
            GROUP BY 
                pb.publisher
            ORDER BY 
                cnt DESC
            LIMIT 1;
        '''
get_sql_data(query)

       publisher  cnt
0  Penguin Books   42

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ : </b>

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ, –≤—ã–±—Ä–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ —á–∏—Å–ª—É –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥.

</div>

**–í—ã–≤–æ–¥:**
–ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –≤ –Ω–∞—à–µ–π –±–∏–±–ª–∏–æ—Ç–µ–∫–µ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º "Penguin Books" - 42 –∫–Ω–∏–≥–∏.

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [20]:
query = '''
SELECT
    authors.author,
    AVG(subquery_ratings.avg_rating) AS average_rating
FROM
    books
    LEFT JOIN (
        SELECT 
            book_id,
            AVG(rating) AS avg_rating,
            COUNT(rating) AS rating_qty
        FROM
            ratings
        GROUP BY
            book_id
    ) AS subquery_ratings ON subquery_ratings.book_id = books.book_id
    LEFT JOIN authors ON authors.author_id = books.author_id
WHERE
    rating_qty >= 50
GROUP BY
    author
ORDER BY
    average_rating DESC
LIMIT 1
'''
get_sql_data(query)

                       author  average_rating
0  J.K. Rowling/Mary GrandPr√©        4.283844

<div id="div_id1" class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚ÅâÔ∏è –ö—Ä–∏—Ç–∏—á–µ—Å–∫–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ —Ç–∏–º–ª–∏–¥–∞ : </b>

<s>[‚¨Ü –û—à–∏–±–∫–∞ ‚Ññ1](#1)


–¢—ã –∏—Å–ø–æ–ª—å–∑—É–µ—à—å `WHERE rating_qty > 50`, –∫–æ–≥–¥–∞ –ø–æ —É—Å–ª–æ–≤–∏—é –∑–∞–¥–∞—á–∏, —ç—Ç–æ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å –Ω–µ—Å—Ç—Ä–æ–≥–æ–µ –Ω–µ—Ä–∞–≤–µ–Ω—Å—Ç–≤–æ `>=`.

–°–µ–π—á–∞—Å –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç —ç—Ç–æ –Ω–µ –ø–æ–≤–ª–∏—è–µ—Ç, –Ω–æ –≤ –±—É–¥—É—â–µ–º - –ø–æ –¥—Ä—É–≥–∏–º –∑–∞–¥–∞—á–∞–º —Ç–∞–∫–∏–µ –Ω—é–∞–Ω—Å—ã –º–æ–≥—É—Ç –ø—Ä–≤–∏–µ—Å—Ç–∏ –∫ –Ω–µ–≤–µ—Ä–Ω—ã–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º


</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " ><b> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ : </b>

–û–π, –∫–∞–∫ –Ω–µ–≤–Ω–∏–º–∞—Ç–µ–ª—å–Ω–æ —è. –°–ø–∞—Å–∏–±–æ!

</div>

**–í—ã–≤–æ–¥:**
–°–∞–º–∞—è –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥ —É –î. –†–æ—É–ª–∏–Ω–≥. –°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –µ–µ –∫–Ω–∏–≥ –≤ –Ω–∞—à–µ–º –¥–∞—Ç–∞—Å–µ—Ç–µ - 4.28 –±–∞–ª–ª–∞.

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

In [18]:
query = '''
WITH user_ratings AS (
                    SELECT rt.username, 
                           COUNT(rt.rating_id) AS rating_count
                    FROM ratings AS rt
                    GROUP BY rt.username
                    HAVING COUNT(rt.rating_id) > 48
                ),
user_reviews AS (
                SELECT rw.username, 
                       COUNT(rw.review_id) AS review_count
                FROM reviews AS rw
                WHERE rw.username IN (SELECT username FROM user_ratings)
                GROUP BY rw.username
            )
SELECT AVG(review_count) AS avg_reviews
FROM user_reviews;
'''
get_sql_data(query)

   avg_reviews
0         24.0

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ç–∏–º–ª–∏–¥–∞ : </b>

–≠—Ç–æ –≤–µ—Ä–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–Ω—ã, –∞ –∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ä–∞—Å—Å—á–∏—Ç–∞–Ω—ã.

</div>

**–í—ã–≤–æ–¥:** –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∏—à—É—Ç 24 –æ–±–∑–æ—Ä–∞.

## –û–±—â–∏–π –≤—ã–≤–æ–¥

1. –í –ø—Ä–æ—Ü–µ—Å—Å–µ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–∞ —Å –¥–∞–Ω–Ω—ã–º–∏, –º—ã –≤—ã—è—Å–Ω–∏–ª–∏, —á—Ç–æ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∞—Ö–æ–¥—è—Ç—Å—è —Å–≤–µ–¥–µ–Ω–∏—è –æ **1000 –∫–Ω–∏–≥.** 
–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ **636 –∞–≤—Ç–æ—Ä–æ–≤** –∏ **340 –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤**.
–ö—Ä–æ–º–µ —Ç–æ–≥–æ, –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ, –ø–æ –æ—Ç–∑—ã–≤–∞–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–∞ –∫–Ω–∏–≥–∏. –í—Å–µ–≥–æ –º—ã —Ä–∞—Å–ø–æ–ª–∞–≥–∞–µ–º **2793 –æ—Ç–∑—ã–≤–∞–º–∏**.
–ö—Ä–æ–º–µ —ç—Ç–æ–≥–æ –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ **6456 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö**.

2. –í—Å–µ–≥–æ, –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ **819 –∫–Ω–∏–≥**.
–ü–æ—Å–º–æ—Ç—Ä–µ–ª–∏ **—Ä–µ–π—Ç–∏–Ω–≥–∏ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤** –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏, –æ–±–∑–æ—Ä–æ–≤ –Ω–µ–º–Ω–æ–≥–æ.
–ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –≤ –Ω–∞—à–µ–π –±–∏–±–ª–∏–æ—Ç–µ–∫–µ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º **"Penguin Books" - 42 –∫–Ω–∏–≥–∏**.
–°–∞–º–∞—è –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥ —É **–î. –†–æ—É–ª–∏–Ω–≥. –°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –µ–µ –∫–Ω–∏–≥ –≤ –Ω–∞—à–µ–º –¥–∞—Ç–∞—Å–µ—Ç–µ - 4.28 –±–∞–ª–ª–∞**.
–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∏—à—É—Ç **24 –æ–±–∑–æ—Ä–∞**.

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏:**
–î–ª—è –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤–∞–∂–Ω–æ –Ω–∞–π—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–Ω–∏–≥–µ –Ω–∞ —Å–∞–π—Ç–µ, –æ—Å–æ–±–µ–Ω–Ω–æ, –µ—Å–ª–∏ –æ–Ω–∏ –µ–µ –Ω–µ —á–∏—Ç–∞–ª–∏. –ß–µ–º –±–æ–ª—å—à–µ –±—É–¥–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –∏ —Ä–µ–≤—å—é, —Ç–µ–º –∏–Ω—Ç–µ—Ä–µ—Å–Ω–µ–µ, –±—É–¥–µ—Ç –æ—â—É—â–µ–Ω–∏–µ –Ω–µ —Ç–æ–ª—å–∫–æ —Ä–µ—Å—É—Ä—Å–∞ –ø–æ —Å–∫–∞—á–∏–≤–∞–Ω–∏—é –∫–Ω–∏–≥, –∞ —Ü–µ–ª–æ–µ –∫–æ–º—å—é–Ω–∏—Ç–∏. –Ø –±—ã —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–ª–∞ –ø–æ–æ—â—Ä—è—Ç—å –∑–∞ –æ—Ü–µ–Ω–∫–∏ –∏ –æ—Ç–∑—ã–≤—ã –æ –∫–Ω–∏–≥–∞—Ö, –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è—è —Å–∫–∏–¥–∫–∏ –Ω–∞ —Å–ª–µ–¥—É—é—â–∏–µ –ø–æ–∫—É–ø–∫–∏.

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid; position: relative; padding: 15px; padding-left: 80px;">
<img src="https://lh3.googleusercontent.com/a/AAcHTtc31jlywy-FMYxLAouSSqNAmm5NsrBvivwRIASNt7wihI2ClYdpAbzWNqcigfcR04LfvopHwsJrJpnVr4UXDkCHtWk=s432-c-no" width="45" height="45" style="position: absolute; top: 15px; left: 15px; border-radius: 50%;">
<b> ‚úèÔ∏è –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è —Ç–∏–º–ª–∏–¥–∞ : </b>

–î–ª—è –ø–æ–ª–Ω–æ—Ç—ã –∫–∞—Ä—Ç–∏–Ω—ã –∏ –±–æ–ª—å—à–µ–π –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–æ–π —Ü–µ–Ω–Ω–æ—Å—Ç–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤, –º–æ–∂–Ω–æ –±—ã–ª–æ –¥–æ–±–∞–≤–∏—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –±–∏–∑–Ω–µ—Å–∞.

</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " ><b> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ : </b>

–î–æ–ø–∏—Å–∞–ª–∞. –°–ø–∞—Å–∏–±–æ!

</div>